<h1><%= @place["name"] %></h1>

<h2>My Entries</h2>
<div class="row">
  <% @place.entries.where(user_id: current_user.id).each_with_index do |entry, index| %>
    <div class="col-lg-4 col-md-6 mb-4"> <!-- 3 entries per row on large screens, 2 entries on medium screens -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= entry["title"] %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= entry["occurred_on"] %></h6>
          <p class="card-text"><%= entry["description"] %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<p>
  <a href="/entries/new?place_id=<%= @place["id"] %>">New Entry</a>
</p>

<p>
  <a href="/places">Back to All Places</a>
</p>